@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa política de privacidade de privacidade é assim e assim...</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus labore reiciendis, recusandae non ut iste explicabo voluptatem molestiae distinctio dolorem ea, voluptatum ipsa modi amet minus. Sunt quis praesentium nemo?</p>
