<h1>Página Quem Somos</h1> 

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quaerat, facilis harum placeat maxime repellendus quidem nesciunt quos assumenda, ab itaque cumque quas? Repellat soluta voluptatibus saepe officia ipsum quisquam!</p>

<a  asp-controller="Home" asp-action="Index">Voltar pra Home</a>