main{
   
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    background-color: var(--cor-cinza-escuro);
}

.container-flex-publi{
    
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#storys{
   /*background-color: brown;
    width: 100%;*/
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
   overflow: scroll;
   background-color: var(--cor-branco);
}

#storys::-webkit-scrollbar{
    width: 0;
}


.card-story > a{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 5px;
     text-decoration: none;
}

.card-story > a > img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.card-story>a> span{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    text-transform: lowercase;
}

/*seçãpo criar publi*/
#cadastro-publi{
    display:flex ;
    flex-direction: column;
    gap: 30px;
    padding: 3px;
    background-color: var(--cor-cinza-claro);
}

#cadastro-publi > h2{
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-cinza-escuro2);
    font-weight: 800;
}

#cadastro-publi > form{
   width: 100%;
}

#cadastro-publi > form > textarea{
    width: 100% !important;
    height: 80px !important;
    background-color: var(--cor-cinza-claro);
    resize: none;
    padding: 10px;
    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);
    border: var(--borda);
   
}

#cadastro-publi > form > textarea::placeholder{
    color: var(--cor-roxo);
}

#cadastro-publi > form > footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* seção publicações*/
#publicacoes{
    width: 100%;
    height: 600px;
}

#card-publi{
    width: 100%;
    height: 400px;
    background-color: var(--cor-azul);
}

.card-publi > heade{
    /*height: 80px;*/
    background-color: cadetblue;
    display: flex;
    align-items: center;
    padding: 3%;
}

.card-publi > header > a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--cor-preto);
    font-weight: 600;
}

.card-publi > figure{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imagem-publicacao{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 550px;
}

.descricao-publicacao{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    padding: 0 3%;
    order: 2;
    flex-wrap: wrap;
}

.descricao-publicacao > p{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}

.interacoes-publicacao{
    width: 87px;
    display: flex;
   /* justify-content: space-between;*/
   gap: 10px;
    flex-wrap: wrap;
    order: 1;
    margin: 15px 3%;

}

.interacoes-publicacao > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.interacoes-publicacao > span{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 500;
    color: var(--cor-preto);
}

.card-publi>button{
    margin: 15px 3%;
    background-color: transparent;
    border: none;
    
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: var(--cor-cinza-escuro2);

    cursor: pointer;
}
