:root{
    --cor-preto: #000;
    --cor-branco: #fff;
    --cor-cinza-claro: #e5e5e5;
    --cor-marrom: #2c2614;
    --cor-azul: #2e67d2;
    --cor-laranja: #d07c2e;
    --cor-roxo: #74128d;
    --cor-cinza-escuro2:  #4d4d4d;
    --cor-cinza-meio-escuro: #fafafa;
    --cor-cinza-escuro: #a2a2a2;

    --borda: 1px solid var();
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;

}

@font-face{
    font-family: Orelegle;
    src: url(../fonte/Orelega/OrelegaOne-Regular.ttf);
}
    
       


/*Seletor Global*/
*{
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline-color: var(--cor-laranja);
}

body{
    background-color: var(--cor-branco);
}

h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}


/* formullario*/

input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-branco);
}

.formulario-botao-azul{
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    border: nome; /*removendo a  bordar*/
    height: 35px;
    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}

    .formulario-botao-transparente{
background-color: var(--cor-cinza-meio-escuro);
border-radius: var(--borda-arredondada);
border: nome;
height: 35px;
color: var(--cor-cinza-escuro2);
font-size: var(--tamanho-fonte-sm);
font-weight: 600;

    }

    #campo-upload{
        display: none;
    }

    #texto-upload{
        display: inline-block;
        width: 100%;
        max-width: 300px;
        min-height: 35px;
        padding: 5px;
        background-color:var(--cor-cinza-escuro);
        color: var(--cor-branco);
        text-align: center;
        font-weight: 600;
        border-radius: var(--borda-arredondada);
    }

/* cabeçalho */
#cabecalho{
    width: 100%;/*100% da janela de visualização*/
    height: 80px;
   background-color: var(--cor-branco);
    display: flex;
    justify-content: center;
   /* align-items: center;*/
   border-bottom: var(--borda);
}

#cabecalho > nav{
    width: 85%;
    max-width: 1440px;
    height: 100%;

   
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#logo-mobile{
    display: none;
}

.cabecalho-acoes{

    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes > a{
    display: flex;
    align-items: center;
}

.foto-perfil{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}




/* Responsivo */

@media only screen and (max-width: 485px) {

    #logo-mobile{
        display: initial;
    }


    #logo-desktop{
        display: none;
    }
}

#formulario{
    width: 100%;
    background-color: white;
}
    

