main {
    background-color: var(--cor-cinza-claro);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}


main>header {

    display: flex;
    align-items: center;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: var(--cor-branco);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;
}

#logo-desktop{
    justify-content: center
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* Perfil */
.profile {
    background-color: var(--cor-branco);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border-bottom: 2px solid;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid white;
}

.profile-info h2 {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.profile-info p {
    margin: 5px 0;
}

.buttons {
    margin-top: 10px;
}

.edit,
.logout {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit {
    background: var(--cor-azul);
    color: var(--cor-branco);
    margin-right: 10px;
}

.logout {
    background: var(--cor-azul);
    color: var(--cor-branco);
}

/* Publicações */
.posts {
    
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}

.posts h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: var(--cor-preto);
    display: flex;
    justify-content: center;
}

.post {
    background: var(--cor-branco);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.post h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 10px;
}

.post-info {
    display: flex;
    gap: 15px;
    margin-bottom: 8px;
    font-size: 14px;
}

.post a {
    font-size: 14px;
    color: var(--cor-cinza-claro);
    text-decoration: none;
}
