@{
    ViewData["Title"] = "DevConnect - Login";
}

<link rel="stylesheet" href="~/css/login.css">

<script defer>
    const UsuarioNovoCadastrado = "@TempData[key: "UsuarioNovoCadastrado"]";

    if(UsuarioNovoCadastrado == "Nao cadastrato"){
      alert("Usuário cadastrado com sucesso!!!");
</script>

    <main>
        <div>
        <!-- Formulário -->
          <form id="formulario">

            <img src="../images/logo-devconnect-lg.svg" alt="Logo-DevConnection">



            <div>
            <label for="">Nome de usuário:</label>
            <input type="text" name="" id="">
            </div>


            <div>
            <label for="">Senha:</label>
            <input type="password" name="" id="">
            </div>


            <button type="submit" class="formulario-botao-azul">Entrar</button>
            <p>ou</p>

            <a href="#">Esqueceu a senha?</a>

          </form>


        <!-- seção cadastro -->
          <section id="secao-cadastro">

            <p> Não tem uma conta? <a asp-action="Index" asp-controller="Usuario"> Cadastre-se </a></p>

          </section>

          <p id="informacao-aplicativo">obtenha o app</p>
        <!-- seção instalação -->


          <section id="secao-instalacao">
            
            <img src="../images/app-store.svg" alt="app apple store">
            
            <img src="../images/google-play.svg" alt="app google-play">
          </section>

        </div>
    </main>