<h1>Página de Usuário</h1>

<link rel="stylesheet" href="~/css/login.css">

 <h1>Tela Principal login</h1>
    <main>
        <div>
        <!-- Formulário -->
          <form id="formulario">

            <img src="../images/logo-devconnect-lg.svg" alt="Logo-DevConnection">



           <p>Cadsastre-se para a comudiade exclusiva 
                de desenvolvedores(as):</p>

            <div>
            <label for="">Nome e Sobrenome:</label>
            <input type="text" name="" id="">
            </div>


            <div>
            <label for="">Nome de Usuário:</label>
            <input type="text" name="" id="">
            </div>

            <div>
            <label for="">E-mail:</label>
            <input type="email" name="" id="">
            </div>

            <div>
            <label for="">Senha:</label>
            <input type="password" name="" id="">
            </div>

          
            <button type="submit" class="formulario-botao-transparente">Faça upload da sua imagem aqui...</button>
            <button type="submit" class="formulario-botao-azul">Cadastre-se</button>
            <p>Ao se cadastrar você concorda com os nossos Termos, Políticas de Dados de Política de Cookies </p>

         

          </form>


        <!-- seção cadastro -->
          <section id="secao-cadastro">

            <p> Tem uma conta? <a href="cadastro.html"> Conecte-se </a></p>

          </section>

        
        <!-- seção instalação -->


          

        </div>
    </main>