@model DevConnect.Models.TbUsuario
<h1>Página de Usuário</h1>

<link rel="stylesheet" href="~/css/login.css">

<script defer>
    const usuarioNovoCadastrado = "@ViewBag.UsuarioNovoCadastrado";

    if(usuarioNovoCadastrado == "Nao cadastrato"){
      alert("Usuário não cadastrado! Tente novamente!!!");
    }

</script>

    <main>
        <div>
        <!-- Formulário -->
          <form id="formulario" class ="estilo-formulario" enctype="multipart/form-data" asp-action="Index" asp-controller="Usuario">

            <img src="../images/logo-devconnect-lg.svg" alt="Logo-DevConnection">



           <p>Cadsastre-se para a comudiade exclusiva 
                de desenvolvedores(as):</p>

            <div>
            <label for="">Nome e Sobrenome:</label>
            <input type="text" asp-for="NomeCompleto">
            </div>


            <div>
            <label for="">Nome de Usuário:</label>
            <input type="text" asp-for="NomeDeUsuario">
            </div>

            <div>
            <label for="">E-mail:</label>
            <input type="email" asp-for="Email">
            </div>

            <div>
            <label for="">Senha:</label>
            <input type="password" asp-for="Senha">
            </div>

             <div>
                  <label class="formulario-imput-file" for="upload-imagem">Faça o upload da sua imagem aqui</label>
                  <input type="file" name="imagem" id="upload-imagem">
             </div>

            <button type="submit" class="formulario-botao-azul">Cadastre-se</button>
            <p>Ao se cadastrar você concorda com os nossos Termos, Políticas de Dados de Política de Cookies </p>
           
         

          </form>


        <!-- seção cadastro -->
          <section id="secao-cadastro">

            <p> Tem uma conta? <a href="cadastro.html"> Conecte-se </a></p>

          </section>

        
        <!-- seção instalação -->


          

        </div>
    </main>