<h1>Tela de Perfil</h1>

<link rel="stylesheet" href="~/css/perfil.css">

<header id="cabecalho">
    <nav>
        <a id="logo-desktop" href="./feed.html">
            <img src="../images/logo-devconnect-md.svg" alt="logo da empresa"> </a>

        <a id="logo-mobile" href="./feed.html">
            <img src="../images/logo-devconnect-sm.svg" alt="logo da empresa"> </a>


        <div class="cabecalho-acoes">

            <a href="#">
                <img src="../images/icone-casa-azul.svg" alt="">
            </a>

            <a href="#">
                <img src="../images/icone-coracao-azul.svg" alt="">
            </a>

            <a href="#">
                <img class="foto-perfil" src="../images/images (1).jpg" alt="">
            </a>
        </div>

    </nav>
</header>
  <!-- Perfil -->
   <header>
       <section class="profile">
           <img src="../images/images (1).jpg" alt="Foto de Perfil" class="profile-pic">
           <div class="profile-info">
               <h2>Alanzoktop1br</h2>
               <p>2 publicações     •      267 seguindo     •     3,3M Seguidores</p>
               <h3>Alan Ferreira</h3>
               <div class="buttons">
                   <button class="edit">Editar perfil</button>
                   <button class="logout">Sair</button>
                </div>
            </div>
        </section>
    </header>
   <main>
  <!-- Publicações -->
  <section class="posts">
    <h2><img src="../images/icone-galeria-preto.svg" alt="">Publicações</h2>

    <div class="post">
      <h3>Alanzoktop1br</h3>
      <p>Alanzoka claramente o melhor streamer do mundo no dia que ele se aposentar eu choro mas fico feliz
        por ter visto ele gravar e fazer as lives dele </p>
      <div class="post-info">
        <span><img src="../images/icone-coracao-preto.svg" alt=""></span>
        <span><img src="../images/icone-comentario-preto.svg" alt=""> 100k</span>
      </div>
      <a href="#">Ver todos os comentários</a>
    </div>

    <div class="post">
      <h3>Alanzoktop1br</h3>
      <p>Alan e brksedu são muitos amigos mesmo que eles não pareçam eles se gostam muitos e são muitos 
        parceiros que nem os amigos deles o cap,fall,vx, galaxy e o dino</p>
      <div class="post-info">
        <span><img src="../images/icone-coracao-preto.svg" alt=""></span>
        <span><img src="../images/icone-comentario-preto.svg" alt=""> 150k</span>
      </div>
    <a href="#">Ver todos os comentários</a>
  </div>
</main>